---
layout: default
---

<div class="home">

  <h1 class="page-heading">Policies</h1>

  <ul class="post-list">
    {% for obj in site.policy %}
      <li>
          <a href="{{ obj.url | prepend: site.baseurl }}">{{ obj.title }}</a>
      </li>
    {% endfor %}
  </ul>

  <h1 class="page-heading">Position Descriptions</h1>

  <ul class="post-list">
    {% for obj in site.position_description %}
      <li>
          <a href="{{ obj.url | prepend: site.baseurl }}">{{ obj.title }}</a>
      </li>
    {% endfor %}
  </ul>

</div>
